In [1]:
import pandas as pd
from math import sqrt
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso
import xgboost as xgb

In [52]:
xgb_val=pd.read_excel('submission_XGBoost_stck_val_log.xlsx')#0.8507
lgb_val=pd.read_excel('submission_lightGBM_stck_val_log.xlsx')#0.8447
rf_val=pd.read_excel('submission_RandomForest_stack_val_log.xlsx')#0.8462
cat_val=pd.read_excel('submission_catboost_stack_val.xlsx')#0.8462/0.8405(log)


xgb_train=pd.read_excel('submission_XGBoost_stck_train_log.xlsx')
lgb_train=pd.read_excel('submission_lightGBM_stck_train_log.xlsx')
rf_train=pd.read_excel('submission_RandomForest_stack_train_log.xlsx')
cat_train=pd.read_excel('submission_catboost_stack_train.xlsx')

In [53]:
final_stack_val=pd.concat([xgb_val,
                           #lgb_val
                           #rf_val
                           cat_val
                          ],axis=1)
final_stack_train=pd.concat([xgb_train,
                             #lgb_train
                             #rf_train
                             cat_train
                            ],axis=1)

In [54]:
final_stack_val.head()

           xgb          ctb
0  1094.283813  1131.311157
1   459.654358   411.144044
2   707.607666   727.184218
3   329.972992   370.660761
4   263.775482   266.856921

In [55]:
#Average_ensemble #0.8511_all
final_stack1=final_stack_val.mean(axis=1)
ypred1=pd.DataFrame(final_stack1)
ypred1.columns=['COST']

ypred1.to_excel('submission_stack_avg_V1_log.xlsx', index=False)

#all: 0.8511
#xgb_rf:0.8506
#xgb_catl:0.8492
#xgb_catwl:0.8509
#xgb_lgb:0.8506

In [56]:
ypred1.head()

          COST
0  1112.797485
1   435.399201
2   717.395942
3   350.316876
4   265.316202